.Authform input {
    width: 300px;
    height: 25px;
    border: 1px solid #3e3330;
    margin-bottom: 10px;
}

button:hover {
    color: #F7F4EA;
    background-color: #3e3330;
}

.authDiv {
    display: flex;
    justify-content: center;
}

.Authcard {
    display: flex;
    width: 600px;
    flex-direction: row;
}

.Authcard img{
    height: 300px;
    width: 300px;
}

p{
    margin: 0;
    margin-right: 10px;
}