h6 {
    margin: 5px;
}

.timer-container {
    height: 50px;
    display: flex;
}

.time-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time-input input {
    border: 0;
}

.time-input select{
    margin-left: 5px;
    height: 30px;
}

.timer-buttons button{
    font-size: 12px;
    padding: 8px;
    margin: 0;
    margin-right: 5px;
}

.timer-buttons {
    margin-top: 10px;
}