
.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #FAF9F6;
    border-bottom: 1px solid rgba(84,69,65,0.60);
    width: 100%;
    height: 100%;
}   

img {
    width: 200px;
    height: 100px;
}

.menu-links {
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #F7F4EA;
    width: 100px;
    
}

ul {
    list-style-type: none; 
    text-align: end;
    width: 30px;
    margin: 0;
    padding: 0;
}
  

li a {
    display: block;
    color: #3e3330;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    text-align: end;
}
/* 
.log {
    display: block;
    color: #3e3330;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
} */