

.recipe-card {
    top: 0;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 -0.5rem 1rem rgba(0 0 0 / 0.15);
    border-radius: 4px;
    width: 500px;
    max-height: 300px;
    overflow-y: hidden;
    filter: grayscale(100%);
    background-color: #988f8d;
    display: flex;
    flex-direction: column-reverse;
}

i {
    margin-left: 10px;
    font-size: xx-large;
}

.card-body {
    width: 95%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card-body h3 {
    margin: 0;
    font-size: 25px;
}

.ingredients-tag-list {
    display: block;
    flex-direction: row;
    overflow-wrap: normal;
    text-align: start;
    width: 60%;
    height: 70px;
}

.recipe-card:hover {
    filter: grayscale(0%);
}

.recipe-card img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    border-radius: 0;
    
}

img {
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    height: 50%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }